@import "tailwindcss";

:root {
  --background: #111111;
  --foreground: #ededed;
  --surface: #2B2B2B;
  --accent-teal: #0A9D8F;
  --accent-amber: #E9B44C;
  --border: #3a3a3a;
  --hover: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-accent-teal: var(--accent-teal);
  --color-accent-amber: var(--accent-amber);
  --color-border: var(--border);
  --color-hover: var(--hover);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}
